<!--Place this file in:-->
<!--[tomcat]/conf/[engine-name]/[hostname]/[context].xml-->

<!--[tomcat] is the tomcat base folder-->
<!--[engine-name] is "Catalina" by default-->
<!--[hostname] is localhost by default-->
<!--[context] is the name of the .war file-->

<!--Fill the quotation marks of values:-->
<Context>
  <Environment name="pmd-ruleset-path"
    value=""
    type="java.lang.String"/>
  <Environment name="front-end-url"
    value=""
    type="java.lang.String"/>
</Context>